<!DOCTYPE html>
<html lang="es">
<head>
    <title>Título de la página</title>
    <meta charset="utf-8"/>
</head>
<body>
    <h1>Este es el título de la página</h1>
    <h2>Este es el subtítulo de la página</h2>
    <p>Este es un párrafo cualquiera</p>
    <table>
        <tr>
            <th>Comic</th>
            <th>Id</th>
            <th>Stock</th>
        </tr>
        <tr>
            <td>Hombre araña</td>
            <td>2</td>
            <td>0</td>
        </tr>
    </table>
</body>
</html>